@model Recette
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

<div id="Recipe">

    <div id="Recipe_Info" class="Recipe_Left_Part">
        <h1>@Model.nom</h1>
        <p>
            @Model.description
        </p>
    </div>

    <div id="Recipe_Image" class="Recipe_Right_Part">
        <img src="@Model.img">
    </div>

    <div id="Recipe_Steps" class="Recipe_Left_Part">
        <ul>
            @foreach (Etape etape in Model.etapes)
            {
                <li>
                    <div class="Recipe_Step">
                        <p>
                            [@etape.numero]
                            @etape.texte
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>



    <div id="Recipe_Info_Preparation" class="Recipe_Right_Part">

        <div id="Times" class="Recipe_Part">
            <ul>
                <li>@(Model.temps_preparation)</li>
                <li>@(Model.temps_cuisson)</li>
                <li>@(Model.temps_preparation + Model.temps_cuisson)</li>
            </ul>
        </div>

        <div id="Ingredients_List" class="Recipe_Part">
            <ul>
                @foreach (KeyValuePair<Ingredient, string> ingredient in Model.ingredients)
                {
                    <li>@(ingredient.Key.nom) : @(ingredient.Value)</li>
                }
            </ul>
        </div>
    </div>

    <div>
        @using System.Security.Claims

        @if (User.FindFirst(ClaimTypes.Role)?.Value == "True" || (int)Model.Createur.id == int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
        {
            <button type="button" onclick="window.location.href='@Url.Action("Editer", "Recettes", new { id = Model.id })'">Modifier recette</button>
            @if (TempData["Access"] is not null)
            {
                <h3>@TempData["Access"]</h3>
            }
        }
    </div>

    <div id="Recipe_Categories" class="Recipe_Right_Part">
        <ul>
            @foreach (Categorie categorie in Model.categories)
            {
                <li>
                    <div>
                        <p>
                            @categorie.nom
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div id="Rating" class="Recipe_Left_Part">
        <h2>Ajouter un Avis</h2>
        <form asp-controller="Recettes" asp-action="AjouterAvis" method="post">
            <input asp-for="avisnote" type="hidden" value="0">
            <div id="RatingChoice">
            @for (var i = 1; i < 6; i++)
            {
                <h3 class="Rating_Choice" id="Star_@i"></h3>
            }
            </div>
            <textarea asp-for="@Model.aviscommentaire"></textarea>
            <input type="submit" value="Valider">
            @if (TempData["ValidateMessage"] is not null)
            {
                <h2>@TempData["ValidateMessage"]</h2>
            }

        </form>


        <h2>Note Moyenne : @(Model.avis.Any() ? Math.Round(Model.avis.Average(a => a.note), 1) : 0)</h2>

        @foreach (Avis avis in Model.avis)
        {
            <div class="Rating">
                <h2 class="Rating">@avis.note/5</h2>
                @for (var i = 1; i < 6; i++)
                {

                    if (i > avis.note)
                    {
                        <h3 class="Rating" style="background: rgba(255, 215, 0, 0.5);"></h3>
                    }
                    else
                    {
                        <h3 class="Rating"></h3>
                    }

                }
                <div>
                    <p>
                        @avis.commentaire
                    </p>
                </div>
                <h2>@avis.utilisateur.identifiant</h2>

            </div>
        }
    </div>

    <div>
        <h2>Créateur : @Model.Createur.identifiant</h2>
    </div>

</div>