@model RecetteRechercheViewModel
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/Recettes_Search.js" defer></script>
}

<h1 for="Body_Recipes" class="Label_Zones_Search" id="Label_Recipes_Search">@Model.recherche</h1>

<div class="boutonFilter" id="boutonFilter">
    <span class="span4" id="span4"></span>
    <span class="span5" id="span5"></span>
    <span class="span6" id="span6"></span>
    <span class="span7" id="span7"></span>
</div>

<div class="menuFilter" id="menuFilter">

    <form asp-controller="Recettes" asp-action="RechercheFiltrer" method="post">
        <input type="hidden" asp-for="recherche" value="@Model.recherche" />
        <fieldset>

            @for (int i = 0; i < Model.ingredients.Count; i++)
            {
                if (Model.FilterIngredients.Contains(i + 1))
                {
                    <div class="menuFilter_Checkbox">
                        <input type="checkbox"
                        name="FilterIngredients"
                        value="@Model.ingredients[i].id"
                        id="ingredient_@Model.ingredients[i].id" checked="checked"/>
                        <label for="ingredient_@Model.ingredients[i].id">@Model.ingredients[i].nom</label>
                    </div>
                }
                else
                {
                    <div class="menuFilter_Checkbox">
                        <input type="checkbox"
                        name="FilterIngredients"
                        value="@Model.ingredients[i].id"
                        id="ingredient_@Model.ingredients[i].id" />
                        <label for="ingredient_@Model.ingredients[i].id">@Model.ingredients[i].nom</label>
                    </div>
                }

            }

        </fieldset>

        <fieldset>

            @for (int i = 0; i < Model.categories.Count; i++)
            {
                if (Model.FilterCategorie.Contains(i + 1))
                {
                    <div class="menuFilter_Checkbox">
                        <input type="checkbox"
                        name="FilterCategorie"
                        value="@Model.categories[i].id"
                        id="categorie_@Model.categories[i].id" checked="checked" />
                        <label for="categorie_@Model.categories[i].id">@Model.categories[i].nom</label>
                    </div>
                }
                else
                {
                    <div class="menuFilter_Checkbox">
                        <input type="checkbox"
                        name="FilterCategorie"
                        value="@Model.categories[i].id"
                        id="categorie_@Model.categories[i].id" />
                        <label for="categorie_@Model.categories[i].id">@Model.categories[i].nom</label>
                    </div>
                }

            }

        </fieldset>
        <fieldset>
            <div class="menuFilter_Checkbox">
                <select asp-for="note" asp-items="@Model.noteselectlist">
                </select>
            </div>
        </fieldset>

        <button type="submit">Filtrer</button>
    </form>

</div>

<div id="Body_Recipes" class="Vignette_Recipes">
    @foreach(Recette recette in Model.recettes)
    {
        @await Html.PartialAsync("_RecipeBook", recette)
    }
</div>