@model Compte

<div id="Account">

    <div id="Personnal_Information">
        <ul>
            <li>@Model.identifiant</li>
            <li>@Model.nom</li>
            <li>@Model.prenom</li>
            <li>@Model.email</li>
        </ul>
    </div>

    <div id="Theme">
        <button onclick="changeTheme('Light')">Clair</button>
        <button onclick="changeTheme('Dark')">Sombre</button>
        <button onclick="changeTheme('Rubisnoir')">Custom</button>

        <a href="/Main/Accueil/Admin.html">Admin</a>
        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" onclick="window.location.href='@Url.Action("LogOut", "Comptes")'">Déconnexion</button>
        }
    </div>

</div>