@model Compte

<div id="Account">

    <div id="Personnal_Information">
        <ul>
            <li id="identifiant">@Model.identifiant</li>
            <li id="nom">@Model.nom</li>
            <li id="prenom">@Model.prenom</li>
            <li id="email">@Model.email</li>
            <li id="role">@Model.Role</li>
        </ul>
    </div>

    <div>
        <button type="button" onclick="window.location.href='@Url.Action("Admin", "Comptes")'">Admin</button>
        @if (User.Identity.IsAuthenticated)
        {
            <button type="button" onclick="window.location.href='@Url.Action("LogOut", "Comptes")'">Déconnexion</button>
        }
    </div>

</div>